html, body, #map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
.table {
  margin-bottom: 0px;
}
.navbar .navbar-brand {
	font-weight: bold;
    font-size: 25px;
    color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	letter-spacing: 1px;
}
.navbar-collapse.in {
	overflow-y: hidden;
}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
	float: left;
  }
}
@media (max-width: 767px){
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-expanded {
	opacity: 0.9;
}
.leaflet-popup-content {
  height: auto !important;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.leaflet-popup-content-wrapper {
  border-radius: 5px;
}
.leaflet-sidebar {
  z-index: 1020;
}
.leaflet-sidebar .close {
  right: 0px;
  top: 5px;
  background: transparent;
}

            
			#viewdetails {
				overflow-y:scroll;
				height: 95px !important;
			}
			#viewComments {
				overflow-y:scroll;
				height: 95px !important;
			}
			.navbar-inverse {
				background-color: rgb(25,95,164);
			}
			.navbar-collapse, .navbar-inverse .navbar-form {
				border-color: rgb(25,95,164);
			}
			
			.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
				background-color: #428bca;
			}
			
			.info {
				padding: 6px 8px;
				font: 14px/16px Arial, Helvetica, sans-serif;
				background: white;
				background: rgba(255,255,255,0.8);
				box-shadow: 0 0 15px rgba(0,0,0,0.2);
				border-radius: 5px;
			}
			
			.info h4 {
				margin: 0 0 5px;
				color: #777;
			}

			.legend {
				text-align: left;
				line-height: 18px;
				color: #555;
			}
			
			.legend i {
				width: 18px;
				height: 18px;
				float: left;
				margin-right: 8px;
				opacity: 0.7;
			}
			
			.dropdown-menu {
				padding: 10px;
			}
			
			.legend {
				font: 14px/18px Arial, Helvetica, sans-serif;
				font-weight: bold;
			}
			
			
			.leaflet-sidebar {
			top: 0px;
			height: auto !important;
			width: auto !important;
			}
			.leaflet-left {
				left: 0px !important;
			}